h1{
    color: rgb(20, 183, 220);
    background-color: rgb(98, 84, 84);
}
p1{
    border: 2px dotted rgb(63, 8, 8);
    outline: 1px solid red;
    padding: 4x 0px 0px  10px;
}
p1 b{
    background-color: rgba(45, 41, 41, 0.253);
}